<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>Starskolan</title>

    <link rel="stylesheet" href="../dist/reset.css" />
    <link rel="stylesheet" href="../dist/reveal.css" />
    <link rel="stylesheet" href="../dist/theme/dracula.css" />

    <link rel="stylesheet" href="../node_modules/reveal.js/dist/reveal.css" />
    <link
      rel="stylesheet"
      href="../node_modules/reveal.js/dist/theme/black.css"
    />

    <!-- Theme used for syntax highlighted code -->
    <link rel="stylesheet" href="../plugin/highlight/monokai.css" />
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section id="intro" data-auto-animate>
          <h1>Nova Ninjas</h1>
          <p>FaaS</p>
        </section>
        <section data-auto-animate>
          <h1>Nova Ninjas</h1>
          <p>Feedback as a Service</p>
        </section>
        <section data-transition="zoom-in">
          <h2>DEMO</h2>
        </section>
        <section>
          <section data-auto-animate>
            <h3 style="margin: 0">Tar vi med oss någonting?</h3>
            <span></span>
            <ul>
              <li class="fragment">Att TDD är rätt så najs</li>
              <li class="fragment">Datumhantering över tidszoner är onajs</li>
              <li class="fragment">
                Det är faktiskt inte så farligt att be om hjälp
              </li>
            </ul>
          </section>
          <section data-auto-animate>
            <h3 style="margin: 0">Tar vi med oss någonting?</h3>
            <span
              style="
                font-style: italic;
                font-size: large;
                font-weight: 400;
                color: #10b981;
                margin: 0;
                display: block;
              "
              >Rasmus</span
            >
            <ul>
              <li class="fragment">TanStack Query - smidigt verktyg</li>
              <li class="fragment">Listhantering i react</li>
              <li class="fragment">Mockning i Cypress</li>
            </ul>
          </section>
          <section data-auto-animate>
            <h3 style="margin: 0">Tar vi med oss någonting?</h3>
            <span
              style="
                font-style: italic;
                font-size: large;
                font-weight: 400;
                color: #10b981;
                margin: 0;
                display: block;
              "
              >Anton</span
            >
            <ul>
              <li class="fragment">Licenshantering i admincenter</li>
              <li class="fragment">SignalR</li>
              <li class="fragment">Bussen känns väldigt trevlig</li>
            </ul>
          </section>
        </section>
        <section>
          <section>
            <h2>Vad tycker vi har varit bra?</h2>
          </section>
          <section>
            <h3>Föreläsningar</h3>
            <p style="margin-bottom: 0" class="fragment">
              Alla föreläsningar har vart givande och bra gjorda
            </p>
            <p style="margin-top: 0; color: #10b981" class="fragment">
              med märkbart hög kompetens
            </p>
          </section>
          <section>
            <h3>Gemenskapen</h3>
            <p class="fragment">
              Både ansvariga och starskole-elever har haft bra dynamik
            </p>
          </section>
          <section>
            <h3>Kontorsbyte</h3>
            <p class="fragment">Bättre fokus iväg från sitt bolag</p>
          </section>
        </section>
        <section>
          <section>
            <h2>Vad kan bli bättre?</h2>
          </section>
          <section>
            <h3>Kontorsplats</h3>
            <p class="fragment">Sitta alla elever ihop</p>
          </section>
          <section>
            <h3>Timing</h3>
            <p class="fragment" style="margin-bottom: 0">
              Vilken ordning föreläsningarna har vart i
            </p>
            <p class="fragment" style="margin-top: 0; color: #10b981">
              de som vet de vet
            </p>
          </section>
        </section>

        <section>
          <section>
            <h2>Vad är vi nöjda över?</h2>
          </section>
          <section data-auto-animate>
            <h2 style="margin-bottom: 0">DatePicker</h2>
            <img
              src="./img/starskolan/RHFDatePicker.tsx.png"
              alt="datePicker"
              style="margin-top: 0; max-width: 60%"
            />
          </section>
          <section data-auto-animate>
            <h2 style="margin-bottom: 0">DatePicker</h2>
            <img
              src="./img/starskolan/QuestionFilters.tsx.png"
              alt="questionFilters"
              style="margin-top: 0; max-height: 60%; max-width: 40%"
            />
          </section>
          <section data-auto-animate data-auto-animate-id="starcontent">
            <h2 style="margin-bottom: 0; color: #fed81d">StarContent</h2>
          </section>
          <section data-auto-animate data-auto-animate-id="starcontent">
            <h2 style="margin-bottom: 0">StarContent</h2>
            <img
              src="./img/starskolan/starcontent.png"
              alt="starcontent"
              style="margin-top: 0; max-width: 40%"
            />
          </section>
          <section data-auto-animate data-auto-animate-id="answercard">
            <h2 style="margin-bottom: 0">AnswerCard</h2>
            <img
              src="./img/starskolan/AnswerCard-memo.tsx.png"
              alt="questionFilters"
              style="margin-top: 0; max-height: 60%; max-width: 60%"
            />
          </section>
          <section data-auto-animate data-auto-animate-id="answercard">
            <h2 style="margin-bottom: 0">AnswerCard</h2>
            <img
              src="./img/starskolan/AnswerCard.tsx.png"
              alt="questionFilters"
              style="margin-top: 0; max-height: 60%; max-width: 40%"
              data-preview-image="./img/AnswerCard.tsx.png"
            />
          </section>
          <section>
            <h2 style="margin: 0">not so technical</h2>
            <p class="fragment" style="margin: 0; color: #10b981">..but</p>
            <p class="fragment" style="margin: 0">bra samarbete</p>
            <p class="fragment" style="margin: 0">nya kontakter knutna</p>
            <p class="fragment" style="margin: 0">haft väldigt roligt</p>
          </section>
        </section>
        <section>
          <section data-auto-animate>
            <h2>Vad hade vi kunnat göra bättre?</h2>
          </section>
          <section data-auto-animate>
            <h2>Vad hade vi kunnat göra bättre?</h2>
            <p class="fragment">Planera arbetet grundligare</p>
            <p class="fragment">Sitta mer ihop</p>
            <p class="fragment">Hejda sig</p>
          </section>
        </section>
        <section>
          <section><h2>Vid mer tid, vad hade vi velat göra?</h2></section>
          <section>
            <h3>Applikationsbaserad</h3>
            <p class="fragment">en aktiv fråga som hogia undrar</p>
            <p class="fragment">
              kunna se vilken applikation svar skickats ifrån
            </p>
          </section>
          <section>
            <h3>Design</h3>
            <p class="fragment">finlira på designen</p>
            <p class="fragment">
              göra det mer stilrent och
              <span style="color: #fed81d">hogianskt</span>
            </p>
          </section>
          <section>
            <h3>Loggning</h3>
            <p class="fragment">djupare loggning</p>
            <p class="fragment">
              hitta <span style="color: red">fel</span> på enklare sätt
            </p>
          </section>
        </section>
        <section id="goodbye" data-transition="zoom">
          <h1>Det var allt för oss</h1>
          <p>Tack så mycket!</p>
        </section>
      </div>
    </div>

    <script src="../dist/reveal.js"></script>
    <script src="../plugin/notes/notes.js"></script>
    <script src="../plugin/markdown/markdown.js"></script>
    <script src="../plugin/highlight/highlight.js"></script>
    <script>
      // More info about initialization & config:
      // - https://revealjs.com/initialization/
      // - https://revealjs.com/config/
      Reveal.initialize({
        hash: true,
        transition: 'slide',
        // Learn about plugins: https://revealjs.com/plugins/
        plugins: [RevealMarkdown, RevealHighlight, RevealNotes],
      });
    </script>
  </body>
</html>
